@import '../style/mobile';

.addpost-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 90vh;

    .darkForm {
        width: 70%;

        @include mobile() {
            width: 90%;
        }

        .formRow label {
            margin-left: 18rem;

            @include mobile() {
                margin-left: 3rem;
            }
        }

        .formSubmit {
            height: 3rem;
        }
    }
    
}