@import '../style/mobile';

.addpost-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

    form {
        width: 60%;
        text-align: center;
        background: rgba(0, 0, 0, .6);
        padding: 2rem;

        @include mobile() {
            width: 80%;
            padding: 1rem;
        }

        input {
            width: 40rem;

            @include mobile() {
                width: 100%;
            }
        }

        textarea {
            width: 40rem;
            height: 10rem;

            @include mobile() {
                width: 80%;
                height: 5rem;
                font-size: 1rem;
            }
        }
    }
}