.inputText {
    display: inline-block;
    height: 2rem;
    margin: 2rem 0;
    border: none;
    border-bottom: 2px solid $inputText-border-color;
    width: 20rem;
    background: transparent;
    font-size: 1.5rem;
    color: white;
}

.inputText ~ label {
    display: block;
}

.inputText:focus {
    border-bottom: 2px solid $inputText-border-focus;
}

.inputText:valid {
    border-bottom: 2px solid $inputText-border-valid;
}

.inputBtn {
    border: none;
    background: $form-submit-button;
    padding: .5rem 2rem;
    border-radius: 20px;
    width: 100%;
    font-size: 1.2rem;
}

.inputBtn:hover, .inputBtn:focus {
    background: $inputText-border-valid;
}

.formBlack {
    padding: 6rem;
    background: rgba(0, 0, 0, .6);
    border-radius: 20px;
}

.formRow {
    display: inline-block;
}

.formRow input ~ label {
    font-size: 1.5rem;
    position: absolute;
    margin-top: -4rem;
    pointer-events: none;
}

.formRow input:focus ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;
}

.formRow input:valid ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;
}