@import '../style/mobile';

.inputText {
    display: inline-block;
    height: 2rem;
    margin: 2rem 0;
    border: none;
    border-bottom: 2px solid $inputText-border-color;
    width: 20rem;
    background: transparent;
    font-size: 1.5rem;
    color: white;

    @include mobile() {
        width: 80%;
        font-size: 1rem;
    }
}

.inputText ~ label {
    display: block;
}

.inputText:focus {
    border-bottom: 2px solid $inputText-border-focus;
}

.inputText:valid {
    border-bottom: 2px solid $inputText-border-valid;
}

.inputBtn {
    border: none;
    background: $form-submit-button;
    padding: .5rem 2rem;
    border-radius: 20px;
    width: 100%;
    font-size: 1.2rem;

    @include mobile() {
        font-size: .8rem;
        width: 80%;
    }
}

.inputBtn:hover, .inputBtn:focus {
    background: $inputText-border-valid;
}

.loginForm {
    padding: 6rem;
    background: rgba(44, 40, 40, 0.6);
    border-radius: 20px;
    margin: 2rem 0;

    @include mobile() {
        padding: 0;
        text-align: center;
        width: 90%;
    }
}

.formTitle {
    margin-top: 1.5rem;
    text-align: center; 
    color: white;
}

// .formRow {
//     display: inline-block;
// }

// .formRow input ~ label {
//     font-size: 1.5rem;
//     position: absolute;
//     margin-top: -4rem;
//     pointer-events: none;
//     color: $label-color;

//     @include mobile() {
//         margin-left: 2rem;
//         font-size: 1rem;
//     }
// }

// .formRow input:focus ~ label {
//     margin-top: -5.5rem;
//     font-size: 1.2rem;

//     @include mobile() {
//         font-size: 1rem;
//     }
// }

// .formRow input:valid ~ label {
//     margin-top: -5.5rem;
//     font-size: 1.2rem;

//     @include mobile() {
//         font-size: 1rem;
//     }
// }

.deleteBtn {
    padding: 2px 2rem;
    margin-left: 2rem;
    border-radius: 20px;
    background: rgb(163, 13, 3);
    border: none;
    font-size: .8rem;
    text-transform: uppercase;
}

.darkForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 500px;
    width: 20%;
    background: rgb(24, 21, 21);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgb(73, 71, 71);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);

    @include mobile() {
        width: 90%;
        height: 100%;
    }
}

.formRow {
    width: 100%;    
    margin: 1rem 0;

    label {
        color: white;
        margin-left: 6rem;
    }
}

.formInput {
    display: block;
    margin: .5rem auto 0 auto;
    width: 60%;
    background: rgb(24, 21, 21);
    color: rgb(6, 98, 202);
    font-weight: bold;
    border: none;
    text-align: center;
    border-radius: 20px;
    height: 2.5rem;
    -webkit-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgb(73, 71, 71);
    -moz-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
    box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
}

.formSubmit {
    width: 60%;
    border-radius: 20px;
    border: none;
    background: rgb(24, 21, 21);
    margin: 1.5rem 0;
    height: 2rem;
    color: rgb(6, 98, 202);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgb(73, 71, 71);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);

    &:hover, &:focus {
        -webkit-box-shadow: inset -2px -2px 5px 0px rgba(73,71,71,1), inset 2px 2px 5px 0px rgb(0, 0, 0);
        -moz-box-shadow: inset -2px -2px 5px 0px rgba(73,71,71,1), inset 2px 2px 5px 0px rgba(0,0,0,1);
        box-shadow: inset -2px -2px 5px 0px rgba(73,71,71,1), inset 2px 2px 5px 0px rgba(0,0,0,1);
    }
}

.registerLink {
    color: red;
    text-decoration: none;
    margin-top: .5rem;
}

.formText {
    font-size: 1.5rem;
    color: rgb(73, 71, 71);
}

.formTextArea {
    display: block;
    text-align: left;
    margin: .5rem auto 0 auto;
    width: 60%;
    background: rgb(24, 21, 21);
    color: rgb(6, 98, 202);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 6.5rem;
    padding: 1rem;
    -webkit-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgb(73, 71, 71);
    -moz-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
    box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
}