@import '../style/mobile';

.inputText {
    display: inline-block;
    height: 2rem;
    margin: 2rem 0;
    border: none;
    border-bottom: 2px solid $inputText-border-color;
    width: 20rem;
    background: transparent;
    font-size: 1.5rem;
    color: white;

    @include mobile() {
        width: 80%;
        font-size: 1rem;
    }
}

.inputText ~ label {
    display: block;
}

.inputText:focus {
    border-bottom: 2px solid $inputText-border-focus;
}

.inputText:valid {
    border-bottom: 2px solid $inputText-border-valid;
}

.inputBtn {
    border: none;
    background: $form-submit-button;
    padding: .5rem 2rem;
    border-radius: 20px;
    width: 100%;
    font-size: 1.2rem;

    @include mobile() {
        font-size: .8rem;
        width: 80%;
    }
}

.inputBtn:hover, .inputBtn:focus {
    background: $inputText-border-valid;
}

.loginForm {
    padding: 6rem;
    background: rgba(44, 40, 40, 0.6);
    border-radius: 20px;
    margin: 2rem 0;

    @include mobile() {
        padding: 0;
        text-align: center;
        width: 90%;
    }
}

.formTitle {
    margin-top: 1.5rem;
    text-align: center; 
    color: white;
}

.formRow {
    display: inline-block;
}

.formRow input ~ label {
    font-size: 1.5rem;
    position: absolute;
    margin-top: -4rem;
    pointer-events: none;
    color: $label-color;

    @include mobile() {
        margin-left: 2rem;
        font-size: 1rem;
    }
}

.formRow input:focus ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;

    @include mobile() {
        font-size: 1rem;
    }
}

.formRow input:valid ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;

    @include mobile() {
        font-size: 1rem;
    }
}

.deleteBtn {
    padding: 2px 2rem;
    margin-left: 2rem;
    border-radius: 20px;
    background: rgb(163, 13, 3);
    border: none;
    font-size: .8rem;
    text-transform: uppercase;
}