* {
    margin: 0;
    padding: 0;
    outline: none;
}

h1 {
    font-size: $headline-size;
}

p {
    font-size: $paragraph-size;
    color: $paragraph-color;
}

a {
    text-decoration: none;
}

form {
    display: inline-block;
}

nav {
    display: flex;
    justify-content: space-between;
    background: $navbar-color;
    padding: $navbar-padding;

    ul {
        margin-right: 2rem;

        li {
            display: inline;
            margin: 0 1.5rem;

            a {
                color: white;
                font-size: $navbar-link-size;

                &:hover {
                    color: $navbar-link-hover;
                    border-bottom: 2px solid $navbar-link-hover;
                }
            }
        }
    }
}

body {
    background: $body-background-color;
}

#nav-logo {
    color: $navbar-logo-color;
    margin-left: 1.5rem;
}