@import '../style/mobile';

* {
    margin: 0;
    padding: 0;
    outline: none;
}

h1 {
    font-size: $headline-size;
}

p {
    font-size: $paragraph-size;
    color: $paragraph-color;

    @include mobile() {
        font-size: .8rem;
    }
}

a {
    text-decoration: none;
}

form {
    display: inline-block;
}

nav {
    display: flex;
    justify-content: space-between;
    background: $navbar-color;
    padding: $navbar-padding;

    @include mobile() {
        flex-flow: column;
    }

    ul {
        margin-right: 2rem;

        li {
            display: inline;
            margin: 0 1.5rem;

            @include mobile() {
                margin: 0 .5rem;
            }

            a {
                color: white;
                font-size: $navbar-link-size;

                @include mobile() {
                    font-size: .8rem;
                }

                &:hover {
                    color: $navbar-link-hover;
                    border-bottom: 2px solid $navbar-link-hover;
                }
            }

            span {
                color: blue; 
                pointer-events: none; 
                font-size: 1.5rem;

                @include mobile() {
                    font-size: .8rem;
                }
            }
        }
    }
}

body {
    background: $body-background-color;
}

#nav-logo {
    color: $navbar-logo-color;
    margin-left: 1.5rem;
    pointer-events: none;

    @include mobile() {
        font-size: 2rem;
        text-align: center;
        margin-bottom: .4rem;
    }
}