@import '../style/mobile';

.message-box {
    border: 2px solid rgb(243, 54, 54);
    background: lightcoral;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    width: 40%;

    @include mobile() {
        width: 70%;
    }

    h1 {
        font-weight: 300;
        font-size: 2rem;
        width: 100%;

        @include mobile() {
            font-size: .8rem;
        }
    }
    
    p {
        cursor: pointer;
        max-width: 5%;
        width: 100%;
        margin-left: 5rem;

        @include mobile() {
            font-size: 1rem;
            max-width: 2%;
        }
    }
}