@import '../style/mobile';

.note-box {
    display: flex;
    flex-flow: column;
    border: 2px solid $ticket-border-color;
    border-radius: 20px;
    max-width: 40%;
    width: 100%;
    margin: 2rem 0;
    max-height: 500px;
    min-height: 500px;
    overflow-y: auto;
    background: $ticket-background-color;

    @include mobile() {
        max-width: 90%;
    }

    &-title {
        background: $ticket-title-color;
        text-align: center;
        color: rgb(231, 231, 229);
    }

    &-row {
        border: 1px solid $ticket-border-color;
        display: flex;
        justify-content: space-evenly;

        p {
            max-width: 60%;
            width: 100%;
            text-align: left;

            @include mobile() {
                font-size: 1rem;
            }
        }

        i {
            border-right: 1px solid $ticket-border-color;
            text-align: center;
            padding: 0 1rem;
            max-width: 10%;
            width: 100%;
            font-size: 1.2rem;
            color: $ticket-status-color;

            @include mobile() {
                font-size: 1rem;
            }
        }

        a {
            display: flex;
            text-align: center;
            width: 100%;
            text-decoration: none;
        }

        span {
            padding: 0 1rem;
            text-align: center;
            max-width: 15%;
            width: 100%;
            border-left: 1px solid $ticket-border-color;
            color: $ticket-owner-color;
            font-size: 1.2rem;

            @include mobile() {
                font-size: 1rem;
                overflow: hidden;
            }
        }
    }

    &-row:nth-child(odd) {
        background: $odd-row-color;

        &:hover {
            background-color: $ticket-row-hover;
        }
    }

    &-row:nth-child(even) {
        background: $even-row-color;

        &:hover {
            background-color: $ticket-row-hover;
        }
    }

    &-list {
        list-style: none;
    }
}

.new-note {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background: $addTicket-button-color;
    padding: 0 1rem;
    border-radius: 100%;
    transition: background .2s ease-in-out;
    z-index: 9;

    a {
        color: white;
        font-size: 4rem;
        cursor: default;
    }

    &:hover {
        background: $addTicket-button-hover;
    }
}

.ticket-box {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-card {
        height: fit-content;
        max-width: 90%;
        overflow: auto;
        width: 100%;
        background: lightblue;
        border-radius: 20px;
        border: 2px solid $ticket-border-color;

        @include mobile() {
            margin: 2rem 0;
        }
    }

    &-title {
        text-align: center;
        background: $ticket-title-color;
        border-bottom: 2px solid $ticket-border-color;
        color: rgb(231, 231, 229);

        @include mobile() {
            font-size: 1.5rem;
        }
    }

    &-body {
        height: 30rem;
        overflow-y: auto;
        background: $ticket-body-color;
        border-bottom: 2px solid $ticket-border-color;
        white-space: pre-wrap;

        @include mobile() {
            height: fit-content;
        }
    }

    &-info {
        display: flex;
        align-items: center;
        background: $ticket-info-color;
    }

    &-owner {
        border-right: 2px solid $ticket-border-color;
        color: #0293d6;
        padding: 0 3rem;
        background: rgb(73, 75, 71);
        pointer-events: none;

        @include mobile() {
            padding: .8rem 1rem;
            font-size: .8rem;
        }
    }

    &-status {
        border-right: 2px solid $ticket-border-color;
        padding: 0 3rem;
        color: rgb(13, 13, 121);
        text-transform: uppercase;
        background: rgb(73, 75, 71);
        pointer-events: none;

        @include mobile() {
            padding: .8rem 1rem;
            font-size: .8rem;
        }
    }
}