@import '../style/mobile';

.note-box {
    display: flex;
    flex-flow: column;
    border-radius: 20px;
    max-width: 40%;
    width: 100%;
    margin: 2rem 0;
    max-height: 500px;
    min-height: 500px;
    overflow-y: auto;
    background: $ticket-background-color;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgb(73, 71, 71);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);

    @include mobile() {
        max-width: 90%;
    }

    &-title {
        background: rgb(24, 21, 21);
        text-align: center;
        color: rgb(14, 113, 194);
        -webkit-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgb(73, 71, 71);
        -moz-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
        box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
        padding: .5rem 0;
    }

    &-row {
        -webkit-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgb(73, 71, 71);
        -moz-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
        box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
        display: flex;
        justify-content: space-evenly;
        padding: .5rem 0;

        p {
            max-width: 60%;
            width: 100%;
            text-align: left;

            @include mobile() {
                font-size: 1rem;
            }
        }

        i {
            text-align: center;
            padding: 0 1rem;
            max-width: 10%;
            width: 100%;
            font-size: 1.2rem;
            color: $ticket-status-color;

            @include mobile() {
                font-size: 1rem;
            }
        }

        a {
            display: flex;
            text-align: center;
            width: 100%;
            text-decoration: none;
        }

        span {
            padding: 0 1rem;
            text-align: center;
            max-width: 15%;
            width: 100%;
            color: $ticket-owner-color;
            font-size: 1.2rem;

            @include mobile() {
                font-size: 1rem;
                overflow: hidden;
            }
        }
    }

    &-row:nth-child(odd) {
        background: $odd-row-color;

        &:hover {
            background: $ticket-row-hover;
        }
    }

    &-row:nth-child(even) {
        background: $even-row-color;

        &:hover{
            background: $ticket-row-hover;
        }
    }

    &-list {
        list-style: none;
    }
}

.new-note {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background: $addTicket-button-color;
    padding: 0 1rem;
    border-radius: 100%;
    transition: background .2s ease-in-out;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgb(73, 71, 71);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);
    z-index: 9;

    a {
        color: white;
        font-size: 4rem;
        cursor: default;
    }

    &:hover {
        -webkit-box-shadow: inset -2px -2px 5px 0px rgba(73,71,71,1), inset 2px 2px 5px 0px rgb(0, 0, 0);
        -moz-box-shadow: inset -2px -2px 5px 0px rgba(73,71,71,1), inset 2px 2px 5px 0px rgba(0,0,0,1);
        box-shadow: inset -2px -2px 5px 0px rgba(73,71,71,1), inset 2px 2px 5px 0px rgba(0,0,0,1);

        a {
            color: $addTicket-button-hover;
        }
    }
}

.ticket-box {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-card {
        height: fit-content;
        max-width: 90%;
        overflow: auto;
        width: 100%;
        background: lightblue;
        border-radius: 20px;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgb(73, 71, 71);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75), -2px -2px 5px 0px rgba(73, 71, 71,1);

        @include mobile() {
            margin: 2rem 0;
        }
    }

    &-title {
        text-align: center;
        background: $body-background-color;
        color: rgb(14, 113, 194);
        padding: .5rem 0;

        @include mobile() {
            font-size: 1.5rem;
        }
    }

    &-body {
        height: 30rem;
        overflow-y: auto;
        background: $ticket-body-color;
        white-space: pre-wrap;
        padding: .5rem;
        -webkit-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgb(73, 71, 71);
        -moz-box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);
        box-shadow: inset -1px -1px 5px 0px rgba(0,0,0,1), inset 1px 1px 5px 0px rgba(73,71,71,1);

        @include mobile() {
            height: fit-content;
        }
    }

    &-info {
        display: flex;
        align-items: center;
        background: $ticket-info-color;
        padding: .5rem 0;
    }

    &-owner {
        color: #0293d6;
        padding: 0 3rem;
        pointer-events: none;

        @include mobile() {
            padding: .8rem 1rem;
            font-size: .8rem;
        }
    }

    &-status {
        padding: 0 3rem;
        color: rgb(37, 37, 194);
        text-transform: uppercase;
        pointer-events: none;

        @include mobile() {
            padding: .8rem 1rem;
            font-size: .8rem;
        }
    }
}