.note-box {
    display: flex;
    flex-flow: column;
    border: 2px solid lightcoral;
    max-width: 40%;
    width: 100%;
    margin: 2rem 0;
    max-height: 500px;
    overflow-y: auto;

    &-title {
        background: $ticket-title-color;
        text-align: center;
    }

    &-row {
        border: 1px solid $ticket-border-color;
        display: flex;
        justify-content: space-evenly;

        p {
            max-width: 60%;
            width: 100%;
            text-align: left;
        }

        i {
            border-right: 1px solid $ticket-border-color;
            text-align: center;
            padding: 0 1rem;
            max-width: 10%;
            width: 100%;
            font-size: 1.2rem;
        }

        a {
            display: flex;
            text-align: center;
            width: 100%;
            text-decoration: none;
        }

        span {
            padding: 0 1rem;
            text-align: center;
            max-width: 15%;
            width: 100%;
            border-left: 1px solid $ticket-border-color;
            color: rgb(5, 5, 4);
            font-size: 1.2rem;
        }
    }

    &-row:nth-child(odd) {
        background: $odd-row-color;

        &:hover {
            background-color: $ticket-row-hover;
        }
    }

    &-row:nth-child(even) {
        background: $even-row-color;

        &:hover {
            background-color: $ticket-row-hover;
        }
    }

    &-list {
        list-style: none;
    }
}

.new-note {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: $addTicket-button-color;
    padding: 1rem;
    border-radius: 100%;
    transition: background .5s ease-in-out;
    z-index: 9;

    a {
        color: white;
        font-size: 4rem;
        cursor: default;
    }

    &:hover {
        background: addTicket-button-hover;
    }
}