// Meassures

$paragraph-size: 1.5rem;
$headline-size: 2rem;
$navbar-link-size: 1.5rem;
$navbar-padding: 1rem 0;


// Colors
$paragraph-color: #e4e1e1;
$label-color: #e4e1e1;
$navbar-color: black;
$navbar-link-hover: rgb(0, 104, 223);
$navbar-logo-color: red;
$body-background-color: rgb(12, 12, 14);
$inputText-border-color: blue;
$inputText-border-focus: red;
$inputText-border-valid: rgb(19, 231, 19);
$form-submit-button: rgb(19, 128, 165);
$ticket-title-color: brown;
$ticket-border-color: rgb(0, 108, 141);
$ticket-background-color: rgb(12, 12, 14);
$ticket-status-color: #e4e1e1;
$ticket-owner-color: #e4e1e1;
$odd-row-color: rgb(29, 95, 95);
$even-row-color: rgb(30, 48, 71);
$ticket-row-hover: rgb(14, 113, 194);
$addTicket-button-color: rgb(238, 70, 70);
$addTicket-button-hover: rgb(0, 132, 255);
$ticket-body-color: rgb(12, 12, 14);
$ticket-info-color: rgb(12, 12, 14);