// Meassures

$paragraph-size: 1.5rem;
$headline-size: 2rem;
$navbar-link-size: 1.5rem;
$navbar-padding: 1rem 0;


// Colors
$paragraph-color: #333333;
$navbar-color: black;
$navbar-link-hover: rgb(0, 104, 223);
$navbar-logo-color: red;
$body-background-color: grey;
$inputText-border-color: blue;
$inputText-border-focus: red;
$inputText-border-valid: rgb(19, 231, 19);
$form-submit-button: rgb(19, 128, 165);
$ticket-title-color: brown;
$ticket-border-color: lightcoral;
$odd-row-color: rgb(80, 231, 231);
$even-row-color: rgb(88, 128, 180);
$ticket-row-hover: greenyellow;
$addTicket-button-color: rgb(238, 70, 70);
$addTicket-button-hover: rgb(0, 132, 255);