<div class="addpost-box">
    <form>
        <div class="formRow">
            <input class="inputText" type="text" name="ticket_title" required>
            <label>Ticket Title</label>
        </div>
        <div class="block">
            <textarea class="inputText" cols="60" rows="45" placeholder="Ticket body" required></textarea>
        </div>
    </form>
</div>