<div class="addpost-box">
    <%- include ('./partials/messages') %>
    <form class="darkForm" method="POST" action="/ticket/add">
        <div class="formRow">
            <label>Ticket Title</label>
            <input class="formInput" type="text" name="ticket_title" required>
        </div>
        <div class="formRow">
            <label>Ticket Body</label>
            <textarea class="formTextArea" cols="60" rows="45" name="ticket_body" required></textarea>
        </div>
        <input class="formSubmit" type="submit" value="Add Post">
    </form>
</div>