<div class="note-container">
    <div class="note-box">
        <h2 class="note-box-title">Tickets</h2>
        <ul class="note-box-list">
            <% if(typeof tickets !== 'undefined') { %>
                <% tickets.forEach(el => { %>
                 <li class="note-box-row"><a href="#"><i>Icon</i><p><%= el.ticket_title %></p></a></li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>