<div class="note-container">
    <div class="note-box">
        <h2 class="note-box-title">Title of box</h2>
        <ul class="note-box-list">
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Hello</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 1</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 2</p></a></li>
        </ul>
    </div>

    <div class="note-box">
        <h2 class="note-box-title">Title of box</h2>
        <ul class="note-box-list">
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Hello</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 1</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 2</p></a></li>
        </ul>
    </div>

    <div class="note-box">
        <h2 class="note-box-title">Title of box</h2>
        <ul class="note-box-list">
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Hello</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 1</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 2</p></a></li>
        </ul>
    </div>

    <div class="note-box">
        <h2 class="note-box-title">Title of box</h2>
        <ul class="note-box-list">
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Hello</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 1</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 2</p></a></li>
        </ul>
    </div>

    <div class="note-box">
        <h2 class="note-box-title">Title of box</h2>
        <ul class="note-box-list">
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Hello</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 1</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 2</p></a></li>
        </ul>
    </div>

    <div class="note-box">
        <h2 class="note-box-title">Title of box</h2>
        <ul class="note-box-list">
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Hello</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 1</p></a></li>
            <li class="note-box-row"><a href="#"><i>Icon</i><p>Proba 2</p></a></li>
        </ul>
    </div>
</div>