<div class="note-container">
    <div class="note-box">
        <h2 class="note-box-title">Tickets</h2>
        <ul class="note-box-list">
            <% if(typeof tickets !== 'undefined' && tickets.length > 0) { %>
                <% tickets.forEach(el => { %>
                 <li class="note-box-row">
                     <a href="/ticket/<%= el.ticket_id %>">
                    <i><%= el.ticket_id %></i>
                    <p><%= el.ticket_title %></p>
                    <span><%= el.user_name %></span>
                    </a>
                </li>
                <% }); %>
            <% } %>
        </ul>
    </div>
    <div class="new-note">
        <a href="/addticket">+</a>
    </div>
</div>