<div class="container">
    <div class="note-box">
        <h2 class="note-box-title">Title of box</h2>
        <ul class="note-box-list">
            <li class="note-box-row"><i>Icon</i><p>Hello</p></li>
            <li class="note-box-row"><i>Icon</i><p>Proba 1</p></li>
            <li class="note-box-row"><i>Icon</i><p>Proba 2</p></li>
        </ul>
    </div>
</div>