<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServerV</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js" defer></script>
</head>
<body>
    <nav>
        <h1 id="nav-logo">ServerV</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Bugs</a></li>
            <% if(typeof loggedIn === 'undefined' || !loggedIn) { %>
                <li><a href="/login">Log In</a></li>
            <% } %>
            <% if(typeof loggedIn !== 'undefined' && loggedIn) { %>
                <li><a href="/addpost">Add Post</a></li>
                <li><a href="/logout">Log Out</a></li>
                <li><span style="color: blue; pointer-events: none;"><%= username %></span></li>
            <% } %>
        </ul>
    </nav>
    
    <%- body %>

</body>
</html>