<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServerV</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav>
        <h1 id="nav-logo">ServerV</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Bugs</a></li>
            <% if(!loggedIn) { %>
                <li><a href="/login">Log In</a></li>
            <% } %>
            <% if(loggedIn) { %>
                <li><span style="color: blue; pointer-events: none;">Hello <%= username %></span></li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>