<div class="container center box">
    <%- include ('./partials/messages') %>
    <form class="darkForm" method="POST" action="/login">
        <h1 class="formTitle">Login</h1>
        <div class="formRow">
            <label>Username</label>
            <input class="formInput" type="text" name="user_name" required>
        </div>
        <div class="formRow">
            <label>Password</label>
            <input class="formInput" type="password" name="user_password" required>
        </div>
        <input class="formSubmit" type="submit" value="Submit">
        <p class="formText">Don't have account?</p>
        <a class="registerLink" href="/register">Register</a>
    </form>
</div>

