<h1>User ID: <%= user_name %> </h1>
<p>Hello to my new application!</p>

<form>
    <input type="text" name="uname" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Submit">
</form>