<div class="container center box">
    <%- include ('./partials/messages') %>
    <form class="formBlack" method="POST" action="/login">
        <h1 class="formTitle">Login</h1>
        <div class="formRow block">
            <input class="inputText" type="text" name="user_name" required>
            <label>Username</label>
        </div>
        <div class="formRow block">
            <input class="inputText" type="password" name="user_password" required>
            <label>Password</label>
        </div>
        <input class="inputBtn" type="submit" value="Submit">
        <p style="color: #e4e1e1; margin: 1rem 0;">Don't have account?</p><a style="color: #e4e1e1;" href="/register">Register</a>
    </form>
</div>

