<div class="ticket-box">
    <div class="ticket-box-card">
        <h1 class="ticket-box-title">Ticket title</h1>
        <p class="ticket-box-body">Ticket Body</p>
        <div class="ticket-box-info">
            <h2 class="ticket-box-owner">v3rg1l38</h2>
            <h2 class="ticket-box-status">Open</h2>
        </div>
    </div>
</div>