* {
  margin: 0;
  padding: 0;
  outline: none;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  color: #e4e1e1;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: .8rem;
  }
}

a {
  text-decoration: none;
}

form {
  display: inline-block;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #222222;
  padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

nav ul {
  margin-right: 2rem;
}

nav ul li {
  display: inline;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 768px) {
  nav ul li {
    margin: 0 .5rem;
  }
}

nav ul li a {
  color: white;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  nav ul li a {
    font-size: .8rem;
  }
}

nav ul li a:hover {
  color: #0068df;
  border-bottom: 2px solid #0068df;
}

nav ul li span {
  color: blue;
  pointer-events: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  nav ul li span {
    font-size: .8rem;
  }
}

body {
  background: #181515;
}

#nav-logo {
  color: red;
  margin-left: 1.5rem;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  #nav-logo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: .4rem;
  }
}

footer {
  background: #222222;
  text-align: center;
  color: white;
}

footer h1 {
  pointer-events: none;
  padding: 2rem 0;
  font-weight: 300;
  font-size: 1.2rem;
}

.footer-signature {
  color: red;
  margin-left: .5rem;
}

.inputText {
  display: inline-block;
  height: 2rem;
  margin: 2rem 0;
  border: none;
  border-bottom: 2px solid blue;
  width: 20rem;
  background: transparent;
  font-size: 1.5rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .inputText {
    width: 80%;
    font-size: 1rem;
  }
}

.inputText ~ label {
  display: block;
}

.inputText:focus {
  border-bottom: 2px solid red;
}

.inputText:valid {
  border-bottom: 2px solid #13e713;
}

.inputBtn {
  border: none;
  background: #1380a5;
  padding: .5rem 2rem;
  border-radius: 20px;
  width: 100%;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .inputBtn {
    font-size: .8rem;
    width: 80%;
  }
}

.inputBtn:hover, .inputBtn:focus {
  background: #13e713;
}

.loginForm {
  padding: 6rem;
  background: rgba(44, 40, 40, 0.6);
  border-radius: 20px;
  margin: 2rem 0;
}

@media only screen and (max-width: 768px) {
  .loginForm {
    padding: 0;
    text-align: center;
    width: 90%;
  }
}

.formTitle {
  margin-top: 1.5rem;
  text-align: center;
  color: white;
}

.deleteBtn {
  padding: 2px 2rem;
  margin-left: 2rem;
  border-radius: 20px;
  background: #a30d03;
  border: none;
  font-size: .8rem;
  text-transform: uppercase;
}

.darkForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  height: 500px;
  width: 20%;
  background: #181515;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75), -2px -2px 5px 0px #494747;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75), -2px -2px 5px 0px #494747;
}

@media only screen and (max-width: 768px) {
  .darkForm {
    width: 90%;
    height: 100%;
  }
}

.formRow {
  width: 100%;
  margin: 1rem 0;
}

.formRow label {
  color: white;
  margin-left: 6rem;
}

.formInput {
  display: block;
  margin: .5rem auto 0 auto;
  width: 60%;
  background: #181515;
  color: #0662ca;
  font-weight: bold;
  border: none;
  text-align: center;
  border-radius: 20px;
  height: 2.5rem;
  -webkit-box-shadow: inset -1px -1px 5px 0px black, inset 1px 1px 5px 0px #494747;
  box-shadow: inset -1px -1px 5px 0px black, inset 1px 1px 5px 0px #494747;
}

.formSubmit {
  width: 60%;
  border-radius: 20px;
  border: none;
  background: #181515;
  margin: 1.5rem 0;
  height: 2rem;
  color: #0662ca;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75), -2px -2px 5px 0px #494747;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75), -2px -2px 5px 0px #494747;
}

.formSubmit:hover, .formSubmit:focus {
  -webkit-box-shadow: inset -2px -2px 5px 0px #494747, inset 2px 2px 5px 0px black;
  box-shadow: inset -2px -2px 5px 0px #494747, inset 2px 2px 5px 0px black;
}

.registerLink {
  color: red;
  text-decoration: none;
  margin-top: .5rem;
}

.formText {
  font-size: 1.5rem;
  color: #494747;
}

.formTextArea {
  display: block;
  text-align: left;
  margin: .5rem auto 0 auto;
  width: 60%;
  background: #181515;
  color: #0662ca;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  height: 6.5rem;
  padding: 1rem;
  -webkit-box-shadow: inset -1px -1px 5px 0px black, inset 1px 1px 5px 0px #494747;
  box-shadow: inset -1px -1px 5px 0px black, inset 1px 1px 5px 0px #494747;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  min-height: 90vh;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 90vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.addpost-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 90vh;
}

.addpost-box .darkForm {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .addpost-box .darkForm {
    width: 90%;
  }
}

.addpost-box .darkForm .formRow label {
  margin-left: 18rem;
}

@media only screen and (max-width: 768px) {
  .addpost-box .darkForm .formRow label {
    margin-left: 3rem;
  }
}

.message-box {
  border: 2px solid #f33636;
  background: lightcoral;
  padding: .5rem 2rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .message-box {
    width: 70%;
  }
}

.message-box h1 {
  font-weight: 300;
  font-size: 2rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .message-box h1 {
    font-size: .8rem;
  }
}

.message-box p {
  cursor: pointer;
  max-width: 5%;
  width: 100%;
  margin-left: 5rem;
}

@media only screen and (max-width: 768px) {
  .message-box p {
    font-size: 1rem;
    max-width: 2%;
  }
}

.note-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: 2px solid #006c8d;
  border-radius: 20px;
  max-width: 40%;
  width: 100%;
  margin: 2rem 0;
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto;
  background: #3c3c3f;
}

@media only screen and (max-width: 768px) {
  .note-box {
    max-width: 90%;
  }
}

.note-box-title {
  background: #4e4c4c;
  text-align: center;
  color: #e7e7e5;
}

.note-box-row {
  border: 1px solid #006c8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.note-box-row p {
  max-width: 60%;
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .note-box-row p {
    font-size: 1rem;
  }
}

.note-box-row i {
  border-right: 1px solid #006c8d;
  text-align: center;
  padding: 0 1rem;
  max-width: 10%;
  width: 100%;
  font-size: 1.2rem;
  color: #e4e1e1;
}

@media only screen and (max-width: 768px) {
  .note-box-row i {
    font-size: 1rem;
  }
}

.note-box-row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.note-box-row span {
  padding: 0 1rem;
  text-align: center;
  max-width: 15%;
  width: 100%;
  border-left: 1px solid #006c8d;
  color: #e4e1e1;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .note-box-row span {
    font-size: 1rem;
    overflow: hidden;
  }
}

.note-box-row:nth-child(odd) {
  background: #1d5f5f;
}

.note-box-row:nth-child(odd):hover {
  background-color: #0e71c2;
}

.note-box-row:nth-child(even) {
  background: #1e3047;
}

.note-box-row:nth-child(even):hover {
  background-color: #0e71c2;
}

.note-box-list {
  list-style: none;
}

.new-note {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: #706a6a;
  padding: 0 1rem;
  border-radius: 100%;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  z-index: 9;
}

.new-note a {
  color: white;
  font-size: 4rem;
  cursor: default;
}

.new-note:hover {
  background: #0e4981;
}

.ticket-box {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket-box-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 90%;
  overflow: auto;
  width: 100%;
  background: lightblue;
  border-radius: 20px;
  border: 2px solid #006c8d;
}

@media only screen and (max-width: 768px) {
  .ticket-box-card {
    margin: 2rem 0;
  }
}

.ticket-box-title {
  text-align: center;
  background: #4e4c4c;
  border-bottom: 2px solid #006c8d;
  color: #e7e7e5;
}

@media only screen and (max-width: 768px) {
  .ticket-box-title {
    font-size: 1.5rem;
  }
}

.ticket-box-body {
  height: 30rem;
  overflow-y: auto;
  background: #0c0c0e;
  border-bottom: 2px solid #006c8d;
  white-space: pre-wrap;
}

@media only screen and (max-width: 768px) {
  .ticket-box-body {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.ticket-box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0c0c0e;
}

.ticket-box-owner {
  border-right: 2px solid #006c8d;
  color: #0293d6;
  padding: 0 3rem;
  background: #494b47;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .ticket-box-owner {
    padding: .8rem 1rem;
    font-size: .8rem;
  }
}

.ticket-box-status {
  border-right: 2px solid #006c8d;
  padding: 0 3rem;
  color: #0d0d79;
  text-transform: uppercase;
  background: #494b47;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .ticket-box-status {
    padding: .8rem 1rem;
    font-size: .8rem;
  }
}
/*# sourceMappingURL=style.css.map */