* {
    margin: 0;
    padding: 0;
    outline: none;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    color: #333333;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-flow: column;
}

form {
    display: inline-block;
}

.inputText {
    display: inline-block;
    height: 2rem;
    margin: 2rem 0;
    border: none;
    border-bottom: 2px solid blue;
    width: 20rem;
    background: transparent;
    font-size: 1.5rem;
}

.inputText ~ label {
    display: block;
}

.inputText:focus {
    border-bottom: 2px solid red;
}

.inputText:valid {
    border-bottom: 2px solid rgb(19, 231, 19);
}

.inputBtn {
    border: none;
    background: rgb(19, 128, 165);
    padding: .5rem 2rem;
    border-radius: 20px;
    width: 100%;
    font-size: 1.2rem;
}

.inputBtn:hover, .inputBtn:focus {
    background: rgb(19, 231, 19);
}

nav {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 1rem 0;
}

nav ul {
    margin-right: 2rem;
}

nav h1 {
    color: white;
    margin-left: 2rem;
    pointer-events: none;
}

nav ul li {
    display: inline;
    margin: 0 1.5rem;
}

nav ul li a {
    color: white;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: rgb(0, 104, 223);
    border-bottom: 2px solid rgb(0, 104, 223);
}

body {
    background: grey;
}

.formBlack {
    background: black;
    padding: 6rem;
    background: rgba(0, 0, 0, .6);
    border-radius: 20px;
}

#nav-logo {
    color: red;
}

.center {
    justify-content: center;
    align-items: center;
}

.box {
    min-height: 90vh;
}

.formRow {
    display: inline-block;
}

.formRow input ~ label {
    font-size: 1.5rem;
    position: absolute;
    margin-top: -4rem;
    pointer-events: none;
}

.formRow input:focus ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;
}

.formRow input:valid ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.note-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.note-box {
    display: flex;
    flex-flow: column;
    border: 2px solid lightcoral;
    max-width: 40%;
    width: 100%;
    margin: 2rem 0;
    max-height: 500px;
    overflow-y: auto;

    &-title {
        background: brown;
        text-align: center;
    }

    &-row {
        border: 1px solid lightcoral;
        display: flex;
        justify-content: space-evenly;

        p {
            max-width: 60%;
            width: 100%;
            text-align: left;
        }

        i {
            border-right: 1px solid lightcoral;
            text-align: center;
            padding: 0 1rem;
            max-width: 10%;
            width: 100%;
            font-size: 1.2rem;
        }

        a {
            display: flex;
            text-align: center;
            width: 100%;
            text-decoration: none;
        }

        span {
            padding: 0 1rem;
            text-align: center;
            max-width: 15%;
            width: 100%;
            border-left: 1px solid lightcoral;
            color: rgb(5, 5, 4);
            font-size: 1.2rem;
        }
    }

    &-row:nth-child(odd) {
        background: rgb(80, 231, 231);

        &:hover {
            background-color: greenyellow;
        }
    }

    &-row:nth-child(even) {
        background: rgb(88, 128, 180);

        &:hover {
            background-color: greenyellow;
        }
    }

    &-list {
        list-style: none;
    }
}

.message-box {
    border: 2px solid rgb(243, 54, 54);
    background: lightcoral;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    width: 40%;

    h1 {
        font-weight: 300;
        font-size: 2rem;
        max-width: 95%;
        width: 100%;
    }
    
    p {
        cursor: pointer;
        max-width: 5%;
        width: 100%;
        margin-left: 5rem;
    }
}

.addpost-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

    form {
        width: 60%;
        text-align: center;
        background: rgba(0, 0, 0, .6);
        padding: 2rem;

        input {
            width: 40rem;
        }

        textarea {
            width: 40rem;
            height: 10rem;
        }
    }
}

.new-note {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: rgb(238, 70, 70);
    padding: 1rem;
    border-radius: 100%;
    transition: background .5s ease-in-out;

    a {
        color: white;
        font-size: 3rem;
        cursor: default;
    }

    &:hover {
        background: rgb(0, 132, 255);
    }
}