* {
    margin: 0;
    padding: 0;
    outline: none;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    color: #333333;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-flow: column;
}

form {
    display: inline-block;
}

.inputText {
    display: inline-block;
    height: 2rem;
    margin: 2rem 0;
    border: none;
    border-bottom: 2px solid blue;
    width: 20rem;
    background: transparent;
    font-size: 1.5rem;
}

.inputText ~ label {
    display: block;
}

.inputText:focus {
    border-bottom: 2px solid red;
}

.inputText:valid {
    border-bottom: 2px solid rgb(19, 231, 19);
}

.inputBtn {
    border: none;
    background: rgb(19, 128, 165);
    padding: .5rem 2rem;
    border-radius: 20px;
    width: 100%;
    font-size: 1.2rem;
}

.inputBtn:hover, .inputBtn:focus {
    background: rgb(19, 231, 19);
}

nav {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 1rem 0;
}

nav ul {
    margin-right: 2rem;
}

nav h1 {
    color: white;
    margin-left: 2rem;
    pointer-events: none;
}

nav ul li {
    display: inline;
    margin: 0 1.5rem;
}

nav ul li a {
    color: white;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: rgb(0, 104, 223);
    border-bottom: 2px solid rgb(0, 104, 223);
}

body {
    background: grey;
}

.formBlack {
    background: black;
    padding: 6rem;
    background: rgba(0, 0, 0, .6);
    border-radius: 20px;
}

#nav-logo {
    color: red;
}

.center {
    justify-content: center;
    align-items: center;
}

.box {
    min-height: 90vh;
}

.formRow {
    display: inline-block;
}

.formRow input ~ label {
    font-size: 1.5rem;
    position: absolute;
    margin-top: -4rem;
    pointer-events: none;
}

.formRow input:focus ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;
}

.formRow input:valid ~ label {
    margin-top: -5.5rem;
    font-size: 1.2rem;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.note-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.note-box {
    display: flex;
    flex-flow: column;
    border: 2px solid lightcoral;
    max-width: 30%;
    width: 100%;
    margin: 2rem 0;

    &-title {
        background: brown;
        text-align: center;
    }

    &-row {
        border: 1px solid lightcoral;
        display: flex;
        justify-content: space-evenly;

        p {
            margin-left: 1.5rem;
            max-width: 60%;
            width: 100%;
        }

        i {
            border-right: 1px solid lightcoral;
            padding: 0 1rem;
            max-width: 10%;
            width: 100%;
        }

        a {
            display: flex;
            width: 100%;
            text-decoration: none;
        }

        span {
            padding: 0 1rem;
            max-width: 15%;
            width: 100%;
            border-left: 1px solid lightcoral;
        }
    }

    &-row:nth-child(odd) {
        background: rgb(80, 231, 231);

        &:hover {
            background-color: greenyellow;
        }
    }

    &-row:nth-child(even) {
        background: rgb(88, 128, 180);

        &:hover {
            background-color: greenyellow;
        }
    }

    &-list {
        list-style: none;
    }
}

.message-box {
    border: 2px solid rgb(243, 54, 54);
    background: lightcoral;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    width: 40%;

    h1 {
        font-weight: 300;
        font-size: 2rem;
        display: inline;
    }
    
    p {
        cursor: pointer;
        display: inline;
        margin-left: 5rem;
    }
}